.navbar-lewagon {
  justify-content: space-between;
  background-color: $raven;

}

.nav-link {
  color: $light-gray;
  font-size: 18px;

  &:hover {
    color: $red;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
